[submodule "external/catch2"]
	path = external/catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "external/plog"]
	path = external/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "external/cppcodec"]
	path = external/cppcodec
	url = https://github.com/tplgy/cppcodec
[submodule "external/json"]
	path = external/json
	url = https://github.com/nlohmann/json
[submodule "external/sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
